html, body {
    padding: 0;
    margin: 0;
}

body {
    font-family: "Roboto Condensed", sans-serif;
    font-weight: 400;
    background: #eee;
}

*, ::before, ::after {
    box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6, strong, b {
    font-family: inherit;
    font-weight: 700;
}

.content {
    margin: 10vmin;
}

main {
    margin: auto;
    max-width: calc(50ch + 10rem);
    padding: 5rem;
    background: #fff;
    border: 1px solid #ccc;
    border-radius: 2.5rem;
    box-shadow: 0 2px 5px 2px #eee;
}

main *:first-child {
    margin-block-start: 0;
}

main *:last-child {
    margin-block-end: 0;
}
