.range {
    height: 1.5rem;
    width: 100%;
    background: #eee;
    border: 1px solid #ccc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    position: relative;
}

.range[data-mode="loading"] {
    background-image: linear-gradient(135deg, #eee 25%, #ccc 25%, #ccc 50%, #eee 50%, #eee 75%, #ccc 75%, #ccc 100%);
    background-size: 3rem 3rem;
    background-repeat: repeat;
    animation: range-loading 500ms linear infinite;
}

.range[data-mode="value"] {
    --value: 0%;
}

.range[data-mode="value"]::before {
    content: "";
    display: block;
    position: absolute;
    top: -1px;
    right: -1px;
    bottom: -1px;
    left: -1px;
    transform-origin: left top;
    transform: scaleX(calc(var(--value) / 100));
    background: #ccc;
    transition: transform 300ms ease-in-out;
}

@keyframes range-loading {
    from {
        background-position: 0 0;
    }
    to {
        background-position: 0 3rem;
    }
}
